.header-wrapper {
  display: block;
}

.header {
  width: 100%;
  height: 60px;
  border-bottom: 1px solid gray;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-title {
  font-family: 'Bungee Hairline', cursive;
  font-size: 50px;
  position: relative;
  
}

.links-wrapper {
  position: absolute;
  right: -70;
  top: 9px;
}

.links {
  margin-right: 30px;
}

.link-img {
  height: 30px;
  width: 30px;
}
.link-img:hover {
  cursor: pointer;
}
